@import 'fonts';
@import 'null';

body.lock {
    overflow: hidden !important;
}
html {
    scroll-behavior: smooth;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.title {
    font-size: 50px;
    line-height: 100%;
    font-weight: 700;
    color: #12234a;
    @media (max-width: 780px) {
        font-size: 40px;
    }
    @media (max-width: 540px) {
        font-size: 32px;
    }
}
.text {
    font-size: 18px;
    line-height: 100%;
    color: #12234a;
}
.big-text {
    font-size: 24px;
    line-height: 100%;
    color: #12234a;
}
.btn {
    font-size: 24px;
    line-height: 100%;
    color: white;
    font-weight: 700;
    display: block;
    width: fit-content;
    margin: 0 auto;
    span {
        padding: 32px 92px;
        background-color: #0084ff;
        border-radius: 60px;
        display: inline-block;
        @media (max-width: 780px) {
            padding: 32px 22px;
        }
    }
    padding: 19px 25px;
    border-radius: 60px;
    background-color: #9ccfff;
}
.input {
    position: relative;
    width: 100%;
    input {
        padding: 16px 0 16px 70px;
        width: 100%;
        border-radius: 5px;
        &::placeholder {
            font-size: 14px;
            line-height: 100%;
            color: #6e90af;
        }
    }
    img {
        position: absolute;
        margin-left: 13px;
        top: 50%;
        transform: translateY(-50%);
    }
}

.custom-checkbox > input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.custom-checkbox > span {
    display: inline-flex;
    align-items: center;
    user-select: none;
}
.custom-checkbox > span::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 2px solid transparent;
    border-radius: 2px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    background-color: white;
    outline: 2px solid #c2c2c2;
}
.custom-checkbox > input:checked + span::before {
    border-color: white;
    outline: 2px solid #0084ff;
    background-color: #0084ff;
}
.custom-checkbox {
    font-size: 14px;
    color: black;
    line-height: 100%;
    &-2 {
        & > span::before {
            width: 16px;
            height: 16px;
            outline: 2px solid #0084ff;
        }
        & > input:checked + span::before {
            background-color: white;
        }
        & > input:checked + span::before {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='rgba(0, 132, 255, 1)' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
        }
    }
}

.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.8s ease 0s;
    z-index: 100;
    &.open {
        opacity: 1;
        visibility: visible;
    }
    &.open &-content {
        transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
        opacity: 1;
    }
    &-body {
        min-height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.8s ease 0s;
        padding: 16px 0;
    }
    &-content {
        transition: all 0.8s ease 0s;
        opacity: 0;
        padding: 30px 25px 38px 25px;
        transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
        width: 370px;
        background-color: #e4ecf4;
        border-radius: 10px;
        position: relative;
        form {
            display: flex;
            flex-direction: column;
            gap: 20px;
            align-items: baseline;
            a {
                font-size: 14px;
                color: #0084ff;
                line-height: 100%;
                text-decoration: underline;
            }
        }
    }
    &__text {
        font-size: 16px;
        line-height: 100%;
        color: #12234a;
        text-align: center;
        margin: 0 auto;
    }
}

@import './sections/header';
@import './sections/intro';
@import './sections/how-it-works';
@import './sections/cooperation';
@import './sections/why-us';
@import './sections/who-it-suits';
@import './sections/steps';
@import './sections/new-opportunities';
@import './sections/advantages';
@import './sections/footer';

@import './sections/about-us';
@import './sections/work-with-us';
