.header {
    @media (max-width: 620px) {
        padding-top: 13px;
    }
    &__logo {
        padding-top: 15px;
        display: flex;
        gap: 13px;
        align-items: center;
        @media (max-width: 620px) {
            padding-top: 0;
            gap: 3px;
        }
        @media (max-width: 540px) {
            order: 1;
        }
        p {
            font-size: 30px;
            line-height: 100%;
            color: #0084ff;
            font-weight: 700;
            position: relative;
            span {
                position: absolute;
                font-size: 20px;
                line-height: 100%;
                color: white;
                background-color: #0084ff;
                display: inline-block;
                padding: 7px 23px 7px 16px;
                right: 0;
                transform: skewX(-20deg) translateY(3px);
                border-radius: 5px;
                @media (max-width: 1080px) {
                    font-size: 14px;
                    padding: 5px 20px 5px 13px;
                }
                @media (max-width: 620px) {
                    font-size: 12px;
                }
                b {
                    display: inline-block;
                    transform: skewX(20deg);
                }
            }
            @media (max-width: 1080px) {
                font-size: 20px;
            }
            @media (max-width: 620px) {
                font-size: 16px;
            }
        }
        img {
            @media (max-width: 1080px) {
                width: 50px;
                height: 50px;
            }
            @media (max-width: 620px) {
                width: 40px;
                height: 40px;
            }
        }
    }
    &__text {
        font-size: 14px;
        line-height: 100%;
        color: black;
        span {
            font-size: 18px;
            font-weight: 700;
            color: #0084ff;
        }
        @media (max-width: 810px) {
            display: none;
        }
        @media (max-width: 540px) {
            display: block;
            order: 3;
        }
        @media (max-width: 390px) {
            order: 2;
        }
    }
    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        @media (max-width: 540px) {
            display: grid;
            row-gap: 20px;
            grid-template-columns: 1.3fr 1fr;
        }
        @media (max-width: 390px) {
            grid-template-columns: 1fr;
            width: fit-content;
            row-gap: 10px;
        }
    }
    &__img {
        margin-top: -10px;
        @media (max-width: 940px) {
            display: none;
        }
    }
    &__btn {
        font-size: 16px;
        height: 100%;
        color: white;
        padding: 14px 60px;
        display: inline-block;
        background-color: #0084ff;
        border-radius: 30px;
        width: fit-content;
        transition: 0.3s;
        @media (max-width: 620px) {
            padding: 14px 40px;
        }
        @media (max-width: 540px) {
            display: block;
            order: 4;
        }
        &:hover {
            background-color: darken(#0084ff, 10%);
        }
    }
    &-language {
        font-size: 14px;
        line-height: 100%;
        color: black;
        display: flex;
        gap: 8px;
        align-items: center;
        position: relative;
        cursor: pointer;
        &-tooltip {
            position: absolute;
            top: 60px;
            z-index: 1;
            background-color: white;
            padding: 5px;
            border: 1px solid #9f9f9f;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            visibility: hidden;
            opacity: 0;
            transition: 0.3s;
        }
        &-wrapper {
            &:hover {
                .header-language-tooltip {
                    visibility: visible;
                    opacity: 1;
                }
            }
            @media (max-width: 540px) {
                order: 2;
            }
            @media (max-width: 390px) {
                order: 3;
            }
        }
    }
    &-nav {
        padding-top: 12px;
        padding-bottom: 12px;
        background-color: #0084ff;
        margin-top: 15px;
    }
    &-list {
        display: flex;
        justify-content: center;
        gap: 60px;
        @media (max-width: 750px) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 10px;
        }
        @media (max-width: 390px) {
            grid-template-columns: 1fr;
        }
        li {
            position: relative;
            &:last-child {
                &:after {
                    display: none;
                }
            }
            &:after {
                position: absolute;
                content: '';
                display: block;
                width: 2px;
                background-color: white;
                height: 100%;
                right: -29px;
                top: 0;
                @media (max-width: 750px) {
                    display: none;
                }
            }
            a {
                display: flex;
                align-items: center;
                gap: 20px;
                font-size: 18px;
                color: white;
                line-height: 100%;
                transition: 0.3s;
                &:hover {
                    color: black;
                }
            }
        }
    }
}
